.profile__add-button {
    display: flex;
    position: relative;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: inherit;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    border-radius: 2px;
    transition: .3s;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .profile__add-button {
        min-width: 282px;
        margin-right: auto;
        margin-left: auto;
        background-size: 16px 16px;
    }
}