.pageform__submit-button {
    background-color: #FFFFFF;;
    color: black;
    cursor: pointer;
    margin-top: 186px;
    margin-bottom: 15px;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

.popup__submit-button:disabled {
    opacity: 0.2;
}

@media screen and (max-width: 624px) {
    .popup__submit-button {
        width: 260px;
        height: 46px;
        font-size: 16px;
        line-height: 20px;
    }
}